.calcContainer {
  width: 49%;
  display: inline-block;
  border-right: 1.5px solid #cbcbcd;
  top: 0 !important;
  height: 100%;
}

.gifBtn {
  background-color: #33cc33;
  color: white;
  border-color: transparent;
  outline: none !important;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 5px 15px;
  margin-bottom: 2px;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow;
}

.gifBtn:hover {
  color: #33cc33;
  background-color: white;
  border-color: #33cc33 !important;
}

.gifInput {
  border: 1px solid rgb(223,223,224);
  border-right: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 5px 15px;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow;
}

.likedGifContainer {
  vertical-align: top;
  width: 40%;
  display: inline-block;
  padding: 20px;
}

.likedGifContainer h5 {
  margin-top: 0;
}

.pgHeader {
  background-color: rgb(223,223,224);
  padding: 25px 20px;
  border-bottom: 1.5px solid #cbcbcd;
}

.pgHeader h3 {
  margin: 0;
  color: #646468;
}

.calcDescrip {
  border-bottom: 1.5px solid #cbcbcd;
  padding: 20px;
  background-color: white;
}

.calcResults {
  padding: 20px;
}

.calcResults h5 {
  margin-top: 0;
}
